<div class="col-lg-8">
  <div class="nk-blog-grid">
    <div class="row">
        <% @blog_tags.each do |tag| %>
          <a href="/blog/categories/<%= tag.name %>" class="nk-btn nk-btn-x4 nk-btn-rounded" style="
            background-color: <%= tag.background_color %>;
            color: <%= tag.text_color %>;
            margin: 10px
          ">
            <strong><%= tag.name %></strong>
          </a>
        <% end %>
    </div>
  </div>
</div>
