<div class="col-lg-8">
  <div class="nk-blog-grid">
    <div class="row">
        <% @blog_categories.each do |category| %>
          <a href="/blog/categories/<%= category.name %>" class="nk-btn nk-btn-x4 nk-btn-rounded" style="
            background-color: <%= category.background_color %>;
            color: <%= category.text_color %>;
            margin: 10px
          ">
            <strong><%= category.name %></strong>
          </a>
        <% end %>
    </div>
  </div>
</div>
